@tailwind base;
@tailwind components;
@tailwind utilities;

/* 
info: https://github.com/evankarageorgos/hue/blob/master/hue.css
customized background-color
*/
.whiteNoise {
  background-color: #e1e6ec;
  background-image: linear-gradient(-180deg, #e1e6ec 2%, #f0f4f7 96%),
    radial-gradient(at 50% 100%, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0.5) 200%);
  background-blend-mode: normal, color-burn;
}

body {
  @apply whiteNoise;
  color: #333;
}
